{/* rename to qwixx-card*/}
/* Qwixx Game Card Block*/
.qwixx-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Qwixx Game Card Elements */
{/* keep */}
.qwixx-card__row{
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    padding: 5px;
    gap: 0.5rem;
}

/* Row */
.qwixx-card__item{
    width: 4rem;
    border: none;
    border-radius: 0.5rem;
}

.qwixx-card__row--red{ 
    background-color: #c44123;
}
.qwixx-card__row--yellow{ 
    background-color: #fecf4d;
}
.qwixx-card__row--green{
    background-color: #458d59;
}
.qwixx-card__row--blue{
    background-color: #1e3184;
}

/* Buttons */
/* button styling */
.qwixx-card__button, .qwixx-card__span{
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}

.qwixx-card__button--red, .qwixx-card__span--red{
    background-color: #ffdddd;
    color: #c44123;
}

.qwixx-card__button--yellow, .qwixx-card__span--yellow{
    background-color: #fbfbf4;
    color:#fecf4d;
}

.qwixx-card__button--blue, .qwixx-card__span--blue{
    background-color: #ddddff;
    color:#1e3184;
}

.qwixx-card__button--green, .qwixx-card__span--green{
    background-color: #ddffdd;
    color:#458d59;
}

.qwixx-card__button:hover {
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0,0,0,0.50);
    cursor: pointer;
    background-color: grey;
}

/* button states */
.qwixx-card__button--clicked, .qwixx-card__span--clicked{
    background-color: black;
    color: white;
}

.qwixx-card__button--disabled, .qwixx-card__span--disabled{
    background-color: grey;
    color: white;
    cursor: not-allowed;
    opactiry: 0.8;
}

/* Penalties */
.penalties-container > ul{
    display: flex;
    gap: 1rem;
}

.penalties-container > ul > li{
    display: flex;
    flex-direction: column-reverse;
}


