.gameCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Row{
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    padding: 5px;
    gap: 0.5rem;
}

.Row > li{
    width: 4rem;
    border: none;
    border-radius: 0.5rem;
}

.Row.red{
    background-color: #f1330a;
}

.Row.yellow{
    background-color: #f8f113;
}

.Row.green{
    background-color: #2fda7a;
}

.Row.blue{
    background-color: #0b35f0;
}

.cell-btn, .lock-btn{
    font-size: 1.5rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}

.cell-btn.red, .lock-button.red{
    background-color: #ffdddd
}

.cell-btn.yellow, .lock-btn.yellow{
    background-color: #ffffdd;
}

.cell-btn.blue, .lock-btn.blue{
    background-color: #ddddff;
}

.cell-btn.green, .lock-btn.green{
    background-color: #ddffdd;
}

.cell-btn:hover, .lock-btn:hover{
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0,0,0,0.24);
    cursor: pointer;
}

.penalties > ul{
    display: flex;
    gap: 1rem;
}

.penalties > ul > li{
    display: flex;
    flex-direction: column-reverse;
}


